	<main id="main">
		{breadcrum}
		
		<!-- ======= Blog Single Section ======= -->
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-8 entries">

						{detil_info}
						<article class="entry entry-single">

							<div class="entry-img">
								<img src="{base}/aset/img/blog/{blog_img}" alt="" class="img-fluid">
							</div>

							<h2 class="entry-title">
								{blog_title}
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="{blog_date}">{blog_date}</time></li>
								</ul>
							</div>

							<div class="entry-content">
								{blog_content}
							</div>

							<div class="entry-footer">
								<i class="bi bi-folder"></i>
								<ul class="cats">
									<li>{blog_category}</li>
								</ul>

								<i class="bi bi-tags"></i>
								<ul class="tags">
									{tag}
									<li>{tag_name}</li>
									{/tag}
								</ul>
							</div>

						</article><!-- End blog entry -->
						{/detil_info}

					</div><!-- End blog entries list -->

					{sidebar}

				</div>

			</div>
		</section><!-- End Blog Single Section -->

	</main>