	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		{breadcrum}
		<!-- End Breadcrumbs -->

		<!-- ======= Blog Section ======= -->
		<section id="blog" class="blog">
			<div class="container" data-aos="fade-up">

				<div class="row">

					<div class="col-lg-8 entries">

						{blog_all}
						<article class="entry">

							<div class="entry-img">
								<img src="{base}/aset/img/blog/{blog_img}" alt="" class="img-fluid">
							</div>

							<h2 class="entry-title">
								<a href="{base}/blog/detail/{blog_id}">{blog_title}</a>
							</h2>

							<div class="entry-meta">
								<ul>
									<li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="{blog_date}">{blog_date}</time></li>
								</ul>
							</div>

							<div class="entry-content">
								<p>
									{content_limit}
								</p>
								<div class="read-more">
									<a href="{base}/blog/detail/{blog_id}">Selanjutnya</a>
								</div>
							</div>

						</article><!-- End blog entry -->
						{/blog_all}

					</div>

					{sidebar}

				</div>

			</div>
		</section><!-- End Blog Section -->

	</main><!-- End #main -->
