<div class="footer-newsletter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h4>Buletin</h4>
                <p>Subscribe ke email kami dan dapatkan notifikasi postingan terbaru kami<p>
            </div>
            <div class="col-lg-6">
                <form action="{base}/page/subscribe" method="post">
                    <input type="email" name="email" placeholder="Email"><input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>