<main id="main">
    {breadcrum}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        
        <div class="container" data-aos="fade-up">
            
            <header class="section-header">
                <p>Hubungi Kami</p>
            </header>

            <div class="row gy-4">
                
                <div class="col-lg-6">
                    
                    <div class="row gy-4">
                        {contact}
                        <div class="col-md-6">
                            <div onclick="window.open({content_href});" class="info-box">
                                <i class="{content_icon}"></i>
                                <h3>{content_title}</h3>
                                {content_desc}
                            </div>
                        </div>
                        {/contact}
                    </div>
                    
                </div>
                
                <div class="col-lg-6">
                    <form action="" method="post" class="konsultasi-form">
                        <div class="row gy-4">
                            
                            <div class="col-md-12">
                                <input type="text" name="nama_pelanggan" class="form-control" placeholder="Nama Anda" required>
                            </div>
                            
                            <div class="col-md-12">
                                <input type="number" class="form-control" id="hpPelanggan" name="hp_pelanggan" placeholder="Nomor Anda" required>
                            </div>
                            
                            <div class="col-md-12">
                                <input type="checkbox" class="form-check-input mb-1" id="wahp" checked/> Nomor Handphone = No Whatsapp
                                <input type="number" class="form-control" id="waPelanggan" name="wa_pelanggan" placeholder="Nomor Whatsapp" required>
                            </div>

                            <div class="col-md-12 text-center">
                                <input type="submit" value="Kirim" class="btn btn-primary">
                            </div>
                            {msg}
                            
                        </div>
                    </form>

                </div>

            </div>

        </div>
        
    </section><!-- End Contact Section -->
</main>