<footer id="footer" class="footer">

    {buletin}

    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.582980804194!2d116.8981967!3d-1.2321691!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1f3a608c0a448e93!2sinKomputer%20Balikpapan!5e0!3m2!1sen!2sid!4v1617956096015!5m2!1sen!2sid"
                width="800"
                height="300"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="{base}" class="logo d-flex align-items-center">
                        <img src="{base}/aset/img/bos.logo.png" alt="">
                        <span>BOSWEB</span>
                    </a>
                    <p>Ikuti Media Sosial Kami.</p>
                    <div class="social-links mt-3">
                        {social}
                        <a onclick="window.open({content_href});" class="{content_title}"><i class="{content_icon}"></i></a>
                        {/social}
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Menu</h4>
                    <ul>
                        {usefullink}
                            <li><i class="bi bi-chevron-right"></i><a href="{base}/{menus_href}">{menus_name}</a>
                            </li>
                        {/usefullink}
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Layanan Kami</h4>
                    <ul>
                        {service}
                            <li><i class="bi bi-chevron-right"></i><a href="{base}/page/layanan">{content_title}</a>
                            </li>
                        {/service}
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Hubungi Kami</h4>
                    {contactfoot}
                        {content_desc}
                    {/contactfoot}

                </div>

            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>FlexStart</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div> -->
</footer>