<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            {hero}
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">{content_title}</h1>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="{desc_class}">
                            {child}
                            <a onclick="window.open({ch_content_href});" {ch_content_color} class="btn-get-started d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>{ch_content_title}</span>
                                <i class="{ch_content_icon}"></i>
                            </a>
                            {/child}
                            <!-- <a onclick="window.open('tel:085710021257','_blank');" class="btn-get-started d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Telpon</span>
                                <i class="bi bi-telephone"></i>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{base}/{content_img}" class="img-fluid" alt="">
                </div>
            {/hero}
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Nilai Jual Kami</h2>
                <p>Yang Kami Berikan Kepada Anda</p>
            </header>

            <div class="row">

                {value}
                    <div class="col-lg-4">
                        <div class="box" data-aos="fade-up" data-aos-delay="200">
                            <img src="{base}/{content_img}" class="img-fluid" alt="">
                            <h3>{content_title}</h3>
                            <p>{content_desc}</p>
                        </div>
                    </div>
                {/value}

            </div>

        </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4">

                {count}
                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="{content_icon}" {content_color}></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="{content_desc}" data-purecounter-duration="1" class="purecounter"></span>
                                <p>{content_title}</p>
                            </div>
                        </div>
                    </div>
                {/count}

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <p>Website yang kami Sediakan</p>
            </header>

            <div class="row">

                {feature_img}
                    <div class="col-lg-6">
                        <img src="{base}/{content_img}" class="img-fluid" alt="">
                    </div>
                {/feature_img}

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
                    <div class="row align-self-center gy-4">

                        {feature}
                            <div class="col-md-6" data-aos="zoom_out" data-aos-delay="200">
                                <div class="feature-box d-flex align-items-center">
                                    <i class="{content_icon}"></i>
                                    <h3>{content_title}</h3>
                                </div>
                            </div>
                        {/feature}

                    </div>
                </div>

            </div> <!-- / row -->

            <!-- Feature Tabs -->
            <div class="row feture-tabs" data-aos="fade-up">
                <div class="col-lg-6" id="VisiMisi">
                    
                    <h3>Visi Misi</h3>
                    
                    <!-- Tabs -->
                    <ul class="nav nav-pills mb-3">
                        {title}
                        <li>
                            <a class="nav-link" data-bs-toggle="pill" href="#desc{content_title}" id="title{content_title}">{content_title}</a>
                        </li>
                        {/title}
                    </ul><!-- End Tabs -->

                    <!-- Tab Content -->
                    <div class="tab-content">
                        {title}
                        <div class="tab-pane fade show" id="desc{content_title}">
                            {child}
                            <div class="d-flex align-items-center mb-2" id="">
                                <i class="bi bi-check"></i>
                                <h4>{ch_content_title}</h4>
                            </div>
                            <p>{ch_content_desc}</p>
                            {/child}
                        </div>
                        {/title}
                        <!-- {descvisi}
                        <div class="tab-pane fade show active" id="{content_title}">
                            <p>{content_desc}</p>
                        </div>End Tab 1 Content
                        {/descvisi}

                        <div class="tab-pane fade show" id="Misi">
                            {descmisi}
                            <div class="d-flex align-items-center mb-2">
                                <i class="{content_icon}"></i>
                                <h4>{content_title}</h4>
                            </div>
                            <p>{content_desc}</p>
                            {/descmisi}
                        </div>End Tab 2 Content -->

                    </div>

                </div>

                {vismisimg}
                <div class="col-lg-6">
                    <img src="{base}/{content_img}" class="img-fluid" alt="">
                </div>
                {/vismisimg}

            </div><!-- End Feature Tabs -->

            <!-- Feature Icons -->
            <div class="row feature-icons" data-aos="fade-up">
                <h3>Mengapa Memilih Kami</h3>

                <div class="row">

                    {pilih}
                    <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
                        <img src="{base}/{content_img}" class="img-fluid p-4" alt="">
                    </div>
                    {/pilih}

                    <div class="col-xl-8 d-flex content">
                        <div class="row align-self-center gy-4">

                            {kelebihan}
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                                <i class="{content_icon}"></i>
                                <div>
                                    <h4>{content_title}</h4>
                                    <p>{content_desc}</p>
                                </div>
                            </div>
                            {/kelebihan}

                        </div>
                    </div>

                </div>

            </div><!-- End Feature Icons -->

        </div>

    </section><!-- End Features Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Harga</h2>
                <p>Paket Website</p>
            </header>

            <div class="row gy-4" data-aos="fade-left">

                {price}
                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        {product_featured}
                        <h3 {product_color}>{product_title}</h3>
                        <div class="price">{product_price}</div>
                        <img src="{base}/aset/img/{product_image}" class="img-fluid" alt="">
                        <ul>
                            {product_desc}
                        </ul>
                        <a href="{base}/page/buy" class="btn-buy">Buy Now</a>
                    </div>
                </div>
                {/price}

                <!-- <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <span class="featured">Featured</span>
                        <h3 style="color: #65c600;">Compro Dinamis</h3>
                        <div class="price"><sup>Rp.</sup>3.5<span> jt</span></div>
                        <img src="{base}/aset/img/pricing-starter.png" class="img-fluid" alt="">
                        <ul>
                            <li>Halaman Tak Terbatas</li>
                            <li>Unlimited Bandwidth</li>
                            <li>Google Search</li>
                            <li>Email Perusahaan</li>
                            <li>3GB Disk Space</li>
                            <li>Gratis Domain</li>
                            <li><sup>(.com / .id/ .co.id / .net / .info)</sup></li>
                            <li class="na">Aplikasi Android</li>
                        </ul>
                        <a href="{base}/page/buy" class="btn-buy">Buy Now</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box">
                        <h3 style="color: #ff901c;">Toko Online</h3>
                        <div class="price"><sup>Rp. </sup>6.25<span>jt</span></div>
                        <img src="{base}/aset/img/pricing-business.png" class="img-fluid" alt="">
                        <ul>
                            <li>Halaman Tak Terbatas</li>
                            <li>Unlimited Bandwidth</li>
                            <li>Google Search</li>
                            <li>Email Perusahaan</li>
                            <li>10GB Disk Space</li>
                            <li>Aplikasi Android</li>
                            <li>Gratis Domain</li>
                            <li><sup>(.com / .id/ .co.id / .net / .info)</sup></li>
                        </ul>
                        <a href="{base}/page/buy" class="btn-buy">Buy Now</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="box">
                        <h3 style="color: #ff0071;">Software / Aplikasi</h3>
                        <div class="price">Hubungi Kami</div>
                        <img src="{base}/aset/img/pricing-ultimate.png" class="img-fluid" alt="">
                        <ul>
                            <li>Kostumisasi Sesuai Kebutuhan Pelanggan</li>
                        </ul>
                        <a href="{base}/page/buy" class="btn-buy">Buy Now</a>
                    </div>
                </div> -->

            </div>

        </div>

    </section><!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>F.A.Q</h2>
                <p>Pertanyaan yang sering di ajukan</p>
            </header>

            <div class="row">
                {faq}
                    <div class="col-lg-6">
                        <!-- F.A.Q List 1-->
                        <div class="accordion accordion-flush" id="faq{content_id}">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#id-{content_id}">
                                        {content_title}
                                    </button>
                                </h2>
                                <div id="id-{content_id}" class="accordion-collapse collapse" data-bs-parent="#faq{content_id}">
                                    <div class="accordion-body">
                                        {content_desc}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {/faq}

            </div>

        </div>

    </section><!-- End F.A.Q Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Testimonials</h2>
                <p>Apa yang klien kami katakan tentang kami.</p>
            </header>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="200">
                <div class="swiper-wrapper">

                    {testimoni}
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <div class="stars">
                                <i class="{content_icon}"></i><i class="{content_icon}"></i><i class="{content_icon}"></i><i class="{content_icon}"></i><i class="{content_icon}"></i>
                            </div>
                            <p>
                                {content_title}
                            </p>
                            <div class="profile mt-auto">
                                <img src="{base}/{content_img}" class="testimonial-img" alt="">
                                <h3>{content_desc}</h3>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->
                    {/testimoni}

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>

    </section><!-- End Testimonials Section -->

    <!-- ======= Clients Section ======= -->
    <!-- <section id="clients" class="clients">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Klien Kami</h2>
                <p>Perusahaan yang pernah menjadi klien kami</p>
            </header>

            <div class="clients-slider swiper-container">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="{base}/aset/img/clients/client-1.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="{base}/aset/img/clients/client-2.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="{base}/aset/img/clients/client-3.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="{base}/aset/img/clients/client-4.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="{base}/aset/img/clients/client-5.png" class="img-fluid" alt=""></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>

    </section> -->
    <!-- End Clients Section -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Blog</h2>
                <p>Postingan terbaru kami</p>
            </header>

            <div class="row">

                {posthome}
                <div class="col-lg-4">
                    <div class="post-box">
                        <div class="post-img"><img src="{base}/aset/img/blog/{blog_img}" class="img-fluid" alt=""></div>
                        <span class="post-date">{blog_date}</span>
                        <h3 class="post-title">{blog_title}</h3>
                        <a href="{base}/blog/detail/{blog_id}" class="readmore stretched-link mt-auto"><span>Selengkapnya</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
                {/posthome}

            </div>

        </div>

    </section><!-- End Recent Blog Posts Section -->

</main><!-- End #main -->