<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>InWebsite | Layanan Pembuatan Website.</title>
	<meta content="" name="description">

	<meta content="" name="keywords">

	<!-- Favicons -->
	<link href="{base}/aset/img/bos.logo.png" rel="icon">
	<link href="{base}/aset/img/apple-touch-icon.png" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link rel="stylesheet" href="{base}/aset/css/custom-style.css">
	<link href="{base}/aset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{base}/aset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="{base}/aset/vendor/aos/aos.css" rel="stylesheet">
	<link href="{base}/aset/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="{base}/aset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
	<link href="{base}/aset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="{base}/aset/css/style.css" rel="stylesheet">

	<!-- =======================================================
	* Template Name: FlexStart - v1.1.1
	* Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
	* Author: BootstrapMade.com
	* License: https://bootstrapmade.com/license/
	======================================================== -->
</head>

<body>

	<!-- ======= Header ======= -->
	{header}
	<!-- End Header -->

	<!-- ======= Content ======= -->
	{content}
	<!-- End Content -->

	<!-- ======= Footer ======= -->
	{footer}
	<!-- End Footer -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<script src="{base}/aset/js/jquery.min.js"></script>
	<script src="{base}/aset/vendor/bootstrap/js/bootstrap.bundle.js"></script>
	<script src="{base}/aset/vendor/aos/aos.js"></script>
	<script src="{base}/aset/vendor/php-email-form/validate.js"></script>
	<script src="{base}/aset/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="{base}/aset/vendor/purecounter/purecounter.js"></script>
	<script src="{base}/aset/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="{base}/aset/vendor/glightbox/js/glightbox.min.js"></script>

	<!-- Template Main JS File -->
	<script src="{base}/aset/js/main.js"></script>

	<script>
		$(function(){
			var url = window.location.href; 
			$("ul#nav-menu a").each(function() {
				if(url == (this.href)) { 
					$(this).closest("a").addClass("active");
				}else{
						$('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
				}
			});
		});
	</script>
	<script>
		$(document).ready(function(){
			$('#wasama').prop('checked', false);
			
			if($('#wahp').is(":checked")){
				$('#waPelanggan').attr('readonly', true);	
				//$('#waPelanggan').val($('#hpPelanggan').val());
				$('#hpPelanggan').on('keyup focusout', function () {
					// <!-- console.log($('#hpPelanggan').val()); -->
					$('#waPelanggan').val($('#hpPelanggan').val());
				});			
			}
			
			
			$('#wahp').click(function(){
				if($('#wahp').is(":not(:checked)")){
					$('#waPelanggan').attr('readonly', false);
					$('#waPelanggan').val('');
					$('#hpPelanggan').on('keyup', function () {
						// <!-- console.log($('#hpPelanggan').val()); -->
						$('#waPelanggan').val('');
					});	
				}else{
					$('#waPelanggan').attr('readonly', true);	
					$('#waPelanggan').val($('#hpPelanggan').val());
					$('#hpPelanggan').on('keyup', function () {
						// <!-- console.log($('#hpPelanggan').val()); -->
						$('#waPelanggan').val($('#hpPelanggan').val());
					});			
				}
			});
			
			
		});
	</script>

</body>

</html>