<!-- ======= landing Section ======= -->
<section id="landing" class="landing d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 landing-img">
				<img src="{base}/aset/img/landing.gif" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6 d-flex flex-column justify-content-center">
				<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quibusdam ut ipsam magnam eum doloribus voluptatem quaerat quo, iste dolorum, excepturi alias odio quod tempore at molestiae est autem iusto.</p>
				<div>
					<div class="text-center text-lg-start">
						<a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
							<span>Get Started</span>
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</section><!-- End landing -->

<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container">

            <header class="section-header">
                <h2>Layanan</h2>
                <p>Solusi yang kami beri</p>
            </header>

            <div class="row gy-4">

                <div id="services" class="col-lg-4 col-md-6">
                    <div class="service-box blue">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Lorem ipsum dolor sit amet consectetur</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt, ex cumque </p>
                    </div>
                </div>

				<div id="services" class="col-lg-4 col-md-6">
                    <div class="service-box red">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Lorem ipsum dolor sit amet consectetur</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt, ex cumque </p>
                    </div>
                </div>

				<div id="services" class="col-lg-4 col-md-6">
                    <div class="service-box green">
                        <i class="ri-discuss-line icon"></i>
                        <h3>Lorem ipsum dolor sit amet consectetur</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sunt, ex cumque </p>
                    </div>
                </div>

            </div>

        </div>

    </section><!-- End Services Section -->
</main>