<!-- ======= landing Section ======= -->
<section id="landing" class="landing d-flex align-items-center">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 landing-img">
				<img src="{base}/aset/img/landing.gif" class="img-fluid" alt="">
			</div>
			<div class="col-lg-6 d-flex flex-column justify-content-center">
				<h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quibusdam ut ipsam magnam eum doloribus voluptatem quaerat quo, iste dolorum, excepturi alias odio quod tempore at molestiae est autem iusto.</p>
				<div>
					<div class="text-center text-lg-start">
						<a href="#pricing" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
							<span>Get Started</span>
							<i class="bi bi-arrow-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</section><!-- End landing -->

<main id="main">
    <!-- ======= Services Section ======= -->
    <section id="pricing" class="pricing">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Harga</h2>
                <p>Paket Website</p>
            </header>

            <div class="row gy-4" data-aos="fade-left">

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
                    <div class="box">
                        <h3 style="color: #07d5c0;">Compro Statis</h3>
                        <div class="price"><sup>Rp.</sup> 1.3<span> jt</span></div>
                        <img src="{base}/aset/img/pricing-free.png" class="img-fluid" alt="">
                        <ul>
                            <li>3 - 5 Halaman</li>
                            <li>Unlimited Bandwidth</li>
                            <li>Google Search</li>
                            <li>Email Perusahaan</li>
                            <li>1GB Disk Space</li>
                            <li class="na">Aplikasi Android</li>
                            <li class="na">Gratis Domain</li>
                            <li>&nbsp;</li>
                        </ul>
                        <a onclick="window.open('https://wa.me/6285710021257?text=Hi bos.web.id, Saya ingin memesan paket web Compro Statis','_blank')" class="btn-buy">Order Now</a>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
                    <div class="box">
                        <span class="featured">Featured</span>
                        <h3 style="color: #65c600;">Compro Dinamis</h3>
                        <div class="price"><sup>Rp.</sup>3.5<span> jt</span></div>
                        <img src="{base}/aset/img/pricing-starter.png" class="img-fluid" alt="">
                        <ul>
                            <li>Halaman Tak Terbatas</li>
                            <li>Unlimited Bandwidth</li>
                            <li>Google Search</li>
                            <li>Email Perusahaan</li>
                            <li>3GB Disk Space</li>
                            <li>Gratis Domain</li>
                            <li><sup>(.com / .id/ .co.id / .net / .info)</sup></li>
                            <li class="na">Aplikasi Android</li>
                        </ul>
                        <a onclick="window.open('https://wa.me/6285710021257?text=Hi bos.web.id, Saya ingin memesan paket web Compro Dinamis','_blank')" class="btn-buy">Order Now</a>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
                    <div class="box">
                        <h3 style="color: #ff901c;">Toko Online</h3>
                        <div class="price"><sup>Rp. </sup>6.25<span>jt</span></div>
                        <img src="{base}/aset/img/pricing-business.png" class="img-fluid" alt="">
                        <ul>
                            <li>Halaman Tak Terbatas</li>
                            <li>Unlimited Bandwidth</li>
                            <li>Google Search</li>
                            <li>Email Perusahaan</li>
                            <li>10GB Disk Space</li>
                            <li>Aplikasi Android</li>
                            <li>Gratis Domain</li>
                            <li><sup>(.com / .id/ .co.id / .net / .info)</sup></li>
                        </ul>
                        <a onclick="window.open('https://wa.me/6285710021257?text=Hi bos.web.id, Saya ingin memesan paket web Toko Online','_blank')" class="btn-buy">Order Now</a>

                    </div>
                </div>

                <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
                    <div class="box">
                        <h3 style="color: #ff0071;">Software / Aplikasi</h3>
                        <div class="price">Hubungi Kami</div>
                        <img src="{base}/aset/img/pricing-ultimate.png" class="img-fluid" alt="">
                        <ul>
                            <li>Kostumisasi Sesuai Kebutuhan Pelanggan</li>
                        </ul>
                        <a onclick="window.open('https://wa.me/6285710021257?text=Hi bos.web.id, Saya ingin memesan paket Software / Aplikasi','_blank')" class="btn-buy">Order Now</a>

                    </div>
                </div>
            </div>
            
        </div>

    </section><!-- End Services Section -->
</main>