	<main id="main">

		<!-- ======= Breadcrumbs ======= -->
		{breadcrum}
		<!-- End Breadcrumbs -->

		<!-- ======= Portfolio Details Section ======= -->
		<section id="portfolio-details" class="portfolio-details">
			<div class="container">

				<div class="row gy-4">

					{detil_info}
					<div class="col-lg-8">
						<div class="portfolio-details-slider swiper-container">
							<div class="swiper-wrapper align-items-center">

								{image}
								<div class="swiper-slide">
									<img src="{base}/aset/img/portfolio/{portfolio_image_name}" alt="" class="crop">
								</div>
								{/image}

								<!-- <div class="swiper-slide">
									<img src="{base}/aset/img/portfolio/portfolio-2.jpg" alt="">
								</div>

								<div class="swiper-slide">
									<img src="{base}/aset/img/portfolio/portfolio-3.jpg" alt="">
								</div> -->

							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="portfolio-info">
							<h3>Informasi Project</h3>
							<ul>
								<li><strong>Kategori</strong>: {portfolio_category}</li>
								<li><strong>Client</strong>: {portfolio_client}</li>
								<li><strong>Tanggal Project</strong>: {portfolio_date}</li>
								<li><strong>URL Project</strong>: <a href="#">{portfolio_url}</a></li>
							</ul>
						</div>
						<div class="portfolio-description">
							<h2>{portfolio_title}</h2>
							<p>
								{portfolio_desc}
							</p>
						</div>
					</div>

					{/detil_info}
				</div>

			</div>
		</section><!-- End Portfolio Details Section -->

	</main><!-- End #main -->