<main id="main">
    {breadcrum}

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

        <div class="container" data-aos="fade-up">
            
            <header class="section-header">
                <h2>Portfolio</h2>
                <p>Check our latest work</p>
            </header>
            
            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">Semua</li>
                        {portfolio_cat}
							<li data-filter=".filter-{portfolio_category_id}">{portfolio_category_name}</li>
                        {/portfolio_cat}
                    </ul>
                </div>
            </div>
            
            <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">
                
                {portfolio_all}
                    <div class="col-lg-4 col-md-6 portfolio-item filter-{portfolio_category_id}">
                        <div class="portfolio-wrap">
                            <img src="{base}/aset/img/portfolio/{portfolio_image_name}" class="img-fluid img-portfolio" alt="">
                            <div class="portfolio-info">
                                <h4>{portfolio_category_name}</h4>
                                <p>{portfolio_desc}</p>
                                <div class="portfolio-links">
                                    <a href="{base}/aset/img/portfolio/{portfolio_image_name}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="{portfolio_title}"><i class="bi bi-plus"></i></a>
                                    <a href="{base}/page/portofolio/detail/{portfolio_title}" title="More Details"><i class="bi bi-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {/portfolio_all}

            </div>
            
        </div>
    
    </section><!-- End Portfolio Section -->
</main>