<main id="main">
    {breadcrum}

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

        <div class="container" data-aos="fade-up">

            <header class="section-header">
                <h2>Layanan</h2>
                <p>Layanan yang Kami Berikan Kepada Anda</p>
            </header>

            <div class="row gy-4">

                {service}
                <div class="{content_main_class}" data-aos="fade-up" data-aos-delay="200">
                    <div class="{content_sub_class} {content_color}">
                        <i class="{content_icon}"></i>
                        <h3>{content_title}</h3>
                        <p>{content_desc}</p>
                        <!-- <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a> -->
                    </div>
                </div>
                {/service}

            </div>

        </div>

    </section><!-- End Services Section -->
</main>